<input class="form-control me-2" type="text" placeholder="Search" #searchApi>
<button (click)="ricercaApi(searchApi)" class="btn btn-dark" type="button">Search</button>

<div class="card" style="width: 220px; margin-left: 20px; margin-top: 20px;" *ngFor="let daum of ris.data">
    <div style="width: 220px; margin-left: 20px; margin-top: 20px"><h3>Searched card</h3></div>
    <div class="card-body"><h6>{{daum.name}}</h6></div>
    <a>Type: {{daum.type}}</a><br>
    <a>Name: {{daum.name}}</a><br>
    <a>Race: {{daum.race}}</a><br>
    <a>Id: {{daum.id}}</a><br>
    <button type="button" class="btn btn-secondary text-dark">aggiungi al deck</button><br>
</div>
  